@font-face {
    font-family: 'Oswald';
    src: local('Oswald Medium'), local('Oswald-Medium'),
        url('../../fonts/Oswald-Medium.woff2') format('woff2'),
        url('../../fonts/Oswald-Medium.woff') format('woff'),
        url('../../fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Bold'), local('Oswald-Bold'),
        url('../../fonts/Oswald-Bold.woff2') format('woff2'),
        url('../../fonts/Oswald-Bold.woff') format('woff'),
        url('../../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('Oswald-Regular'),
        url('../../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../../fonts/Oswald-Regular.woff') format('woff'),
        url('../../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Light'), local('Oswald-Light'),
        url('../../fonts/Oswald-Light.woff2') format('woff2'),
        url('../../fonts/Oswald-Light.woff') format('woff'),
        url('../../fonts/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
        url('../../fonts/Oswald-ExtraLight.woff2') format('woff2'),
        url('../../fonts/Oswald-ExtraLight.woff') format('woff'),
        url('../../fonts/Oswald-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
        url('../../fonts/Oswald-SemiBold.woff2') format('woff2'),
        url('../../fonts/Oswald-SemiBold.woff') format('woff'),
        url('../../fonts/Oswald-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../../fonts/OpenSans-ExtraBold.woff') format('woff'),
        url('../../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../../fonts/OpenSans-Italic.woff') format('woff'),
        url('../../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/OpenSans-Regular.woff') format('woff'),
        url('../../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('../../fonts/OpenSans-LightItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans-LightItalic.woff') format('woff'),
        url('../../fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
        url('../../fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../fonts/OpenSans-Light.woff') format('woff'),
        url('../../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
        url('../../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('../../fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('../../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Bold.woff') format('woff'),
        url('../../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}