%container {
    max-width: #{1620px + 60px};
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

%heading {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #373E44;
    margin-bottom: 15px;
    @media (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }
}

%desc {
    font-size: 16px;
    line-height: 22px;
    color: #373E44;
    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.btn {
   display: inline-block;
   outline: none;
   background: #EA8B00;
   color: #fff;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: bold;
   padding: 15px 40px;
   border: 3px solid #ea8b00;
   transition: .25s all ease;
   &:hover {
       color: #EA8B00;
       background: transparent;
   } 
}